<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">
    <div class="input-group dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex">
      <div class="input-group-prepend">
        <button class="btn btn-outline-primary btn-icon calendar" type="button" (click)="d.toggle()">
          <i data-feather="calendar" appFeatherIcon></i>
        </button>
      </div>
      <input class="form-control" placeholder="yyyy-mm-dd"
          name="dp" [(ngModel)]="currentDate" ngbDatepicker #d="ngbDatepicker">
    </div>
  </div>
</div>

