<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a class="noble-ui-logo d-block d-md-none mb-2">Pibox</a>
            <h5 class="text-muted font-weight-normal mb-4">Forgot Password?</h5>
            <form #restoreForm="ngForm" class="forms-sample" (ngSubmit)="onRestore(restoreForm)">

              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <label for="emailInput">To reset your password, enter your email</label>
                  <span style="color: red" *ngIf="emailInput.invalid && emailInput.touched">Please enter your email</span>
                </div>
                <input type="email" class="form-control" id="emailInput" placeholder="Email"
                       name="email" required ngModel #emailInput="ngModel" email>
              </div>

              <div class="mt-3 d-flex justify-content-between" >
                <button *ngIf="!showLoading" type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" [disabled]="restoreForm.invalid">
                  Reset
                </button>
                <button *ngIf="showLoading" class="btn btn-primary mr-2 mb-2 mb-md-0" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Remembered password? Sign in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
