<div class="profile-page tx-13">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="profile-header">
        <div class="cover">
          <div class="gray-shade"></div>
          <figure>
            <img src="https://via.placeholder.com/1148x272" class="img-fluid" alt="profile cover">
          </figure>
          <div class="cover-body d-flex justify-content-between align-items-center">
            <div>
              <img class="profile-pic" src="" alt="profile">
              <span class="profile-name">{{group?.title}}</span>
            </div>
            <div class="d-none d-md-block">
              <a routerLink="./create" class="text-muted">
                <button class="btn btn-primary btn-icon-text">
                  <i data-feather="edit-3" appFeatherIcon class="btn-icon-prepend"></i>New Department
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="header-links">
          <ul class="links d-flex align-items-center mt-3 mt-md-0">
            <li class="header-link-item d-flex align-items-center">
              <i class="mr-1 icon-md" data-feather="columns" appFeatherIcon></i>
              <a class="pt-1px d-none d-md-block" routerLink="..">Timeline</a>
            </li>
            <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center active">
              <i class="mr-1 icon-md" data-feather="map-pin" appFeatherIcon></i>
              <a class="pt-1px d-none d-md-block" routerLink=".">Departments <span
                class="text-muted tx-12"></span></a>
            </li>
            <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
              <i class="mr-1 icon-md" data-feather="list" appFeatherIcon></i>
              <a class="pt-1px d-none d-md-block" routerLink=".">Courses <span
                class="text-muted tx-12"></span></a>
            </li>
            <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
              <i class="mr-1 icon-md" data-feather="users" appFeatherIcon></i>
              <a class="pt-1px d-none d-md-block" routerLink=".">Users <span
                class="text-muted tx-12"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col mt-4" *ngFor="let department of departments">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-between ">
            <a [routerLink]="['/groups/', groupId, 'departments', department.departmentId]" class="text-muted">
              <h5>{{department.title}}</h5>
            </a>
          </div>
          <p>{{department.description}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div>
          </div>
          <div>
            {{department.users.length}} <i class="feather icon-users"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
